<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ecom-web-application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.listener.myListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.controller.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPass</display-name>
    <servlet-name>ForgetPass</servlet-name>
    <servlet-class>com.controller.ForgetPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPass</servlet-name>
    <url-pattern>/ForgetPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPassword</display-name>
    <servlet-name>SetPassword</servlet-name>
    <servlet-class>com.controller.SetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPassword</servlet-name>
    <url-pattern>/SetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPanel</display-name>
    <servlet-name>AdminPanel</servlet-name>
    <servlet-class>com.controller.AdminPanel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPanel</servlet-name>
    <url-pattern>/AdminPanel</url-pattern>
  </servlet-mapping>
</web-app>